@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body,main{
    padding: 0px;
    margin: 0px;
}

.content-full{
    width: 100%;
    height: 10vh;
}

.content-full .row{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
}

.content-full .row ul{
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-full .row ul li{
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    list-style: none;
}

.content-full .row ul li:hover{
    background-color: #d6d5d5;
}

.content-full .row ul li a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #020202;
}

.content-mobile{
    display: none;
}